<div class="navbar navbar-expand bg-light custom-footer justify-content-center">
            <p class="nav-item" style="text-align: center; margin-top: 15px">Pranav Mital ⓒ 2022. All rights reserved.</p>
</div>