<nav class="navbar navbar-expand navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">imjur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

        
            
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" id="search-bar">
            <a class="btn btn-outline-success my-2 my-sm-0" id="search-button">Search</a>
        </div>

        <div class="ml-5">
            <a href="/postimage" class="btn btn-warning ml-2">Post</a>

            {{#if logged}}
            <a id="logout-button" class="btn btn-success ml-2">Log out</a>
            {{else}}
            <a href="/login" class="btn btn-success ml-2">Log in</a>
            {{/if}}

        </div>
    </div>

</nav>


