{{!-- <div class="row"> <!--creating gap between heading and login form-->
    <br>
    <br>
</div> --}}

<div class="row" style="margin-top: 100px; margin-bottom: 60px;">

    <div class="col-md-4"></div>

    <div class="col-md-4">
        <h3>Welcome! Please log in.</h3>
        </br>

        <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="username-input">Username</label>
                <input id="username-input" class="form-control" type="text" name="username" required/>
            </div>
            
            <div class="form-group">
                <label for="password-input">Password</label>
                <input id="password-input" class="form-control" type="password" name="password" required/>
            </div>

            <button class="btn btn-secondary" type="reset">Clear</button>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        <br>
        <br>
        <p>Don't have an account? <a href="/register">Register</a> and create an account instead.</p>

    </div>

    <div class="col-md"></div>

</div>

